<h1><%= @restaurant.name %></h1>
<p>ID: <%= @restaurant.id %></p>
<p>Address: <%= @restaurant.address %></p>
<p>Phone number: <%= @restaurant.phone_number %></p>
<p>Category: <%= @restaurant.category %></p>
<%# <p>Review: <%= @review.content %></p> %>
